@import '../../../src/App';
// Your variable overrides
$sidebar-bg-color: #ffffff;
$sidebar-color: #4d8fac;
//$sidebar-color: #AA8D68;
//$sidebar-color: #C8987F;
$icon-bg-color: navy;
//$icon-bg-color: #2b2b2b;
$highlight-color: #000080;


@import '~react-pro-sidebar/dist/scss/styles.scss';