$logoNavyColor: rgb(0, 0, 128);
$logoSalmonColor: #c77665;
$creamColor: #F8F0C6;

.App {
  text-align: center;
}
@function logoNavyColorCreator($opacity) {
  @return rgba(0, 0, 128, $opacity);
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.on-track-logo-primary {
  color: $logoNavyColor
}

.on-track-logo-alt {
  color: $logoSalmonColor
}
.on-track-btn-idle {
  color: $logoNavyColor !important;
  background: white !important;
  border: 1px solid $logoSalmonColor !important;
  &:hover{
    color: white !important;
    background: $logoSalmonColor !important;
  }

}
.on-track-btn-active {
  color: white !important;
  background: $logoSalmonColor !important;
  border: 1px solid $logoSalmonColor !important;
}
.on-track-btn-cream {
  background: $creamColor;
  color: navy;
}
.on-track-background {
  //background-color: $logoSalmonColor;
  //color: white
}
.on-track-separator {
  width: 100%;
  border-bottom: 1px solid logoNavyColorCreator(.2);
  margin-bottom: 20px;
}
